<template id="login-page">
  <div class="login-page">
    <form id="login-form" class="login-page__form">
      <fieldset>
        <legend class="login-page__form__legend">Login form</legend>
        <div class="input__wrapper login-page__form__field-wrapper">
          <label class="input__label" for="email">Email</label>
          <input
            class="input__field"
            required="true"
            id="email"
            type="email"
            name="email"
          />
        </div>

        <div class="input__wrapper login-page__form__field-wrapper">
          <label for="password" class="input__label">Password</label>
          <input
            class="input__field"
            required="true"
            id="password"
            type="password"
            name="password"
          />
        </div>

        <p id="error" class="login-page__error"></p>

        <div class="login-page__form__field__button">
          <i-button variant="primary" type="submit">
            <span slot="text">Login</span>
          </i-button>
        </div>
      </fieldset>
    </form>
  </div>
</template>
