body {
  font-size: var(--font-size-max);

  min-width: var(--min-width);
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(var(--font-size-min) + 6 * ((100vw - 320px) / 1920));
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: var(--font-size-max);
  }
}

.grid {
  display: grid;
  width: 100%;
  min-height: 100%;
  max-width: var(--x-large-breakpoint);
  margin: auto;
  padding: 2rem var(--side-padding) 0;

  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}
