body {
  --brand-color: #33bee6;
  --background-color: #ffffff;
  --light-shade: #f9f8f7;
  --light-accent: #7aa5c2;
  --dark-accent: #7b7b95;
  --dark-shade: #353d4c;

  --text-color-light: var(--light-shade);
  --text-color-dark: var(--dark-shade);

  --font-size-min: 12px;
  --font-size-max: 16px;
  --min-width: 320px;

  --large-padding: 2rem;
  --small-padding: 1rem;

  --side-padding: var(--large-padding);
  @media screen and (max-width: 480px) {
    --side-padding: var(--small-padding);
  }

  --small-breakpoint: 480px;
  --medium-breakpoint: 768px;
  --large-breakpoint: 992px;
  --x-large-breakpoint: 1200px;
}
