<template id="post-item">
  <template id="media">
    <div class="post-item__content__media">
      <button class="post-item__content__media__button prev" data-action="prev">
        <
      </button>
      <div id="media-root"></div>
      <button class="post-item__content__media__button next" data-action="next">
        >
      </button>
    </div>
  </template>
  <div class="post-item">
    <div class="post-item__header">
      <h2 class="post-item__header__title">
        <slot name="title"></slot>
      </h2>
    </div>

    <div class="post-item__content" id="content">
      <div class="post-item__content__text">
        <slot name="text-content"></slot>
      </div>
    </div>

    <a class="post-item__creator" id="creator">
      <slot name="creator-avatar" class="post-item__creator__avatar"></slot>
      <slot name="creator-name" class="post-item__creator__name"></slot>
    </a>
  </div>
</template>
