.post-item {
  display: flex;
  flex-direction: column;

  border: 2px solid var(--dark-shade);
  padding: 1.5rem;
  border-radius: 8px;

  &__header {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    &__icon {
      width: 2rem;
      height: 2rem;
    }

    &__tooltip-menu {
      margin: 0;

      &__item {
        &__button {
          border: none;
          background: none;

          color: var(--light-shade);
          cursor: pointer;

          &:hover {
            color: var(--brand-color);

            &.delete {
              color: #ff9999;
            }
          }
        }
      }
    }
  }

  &__content {
    overflow: hidden;

    &__media {
      position: relative;
      width: 100%;

      &:hover > &__button.visible {
        opacity: 1;
      }

      &__button {
        position: absolute;
        height: 100%;
        padding: 0 1rem;
        appearance: none;
        display: none;
        top: 0;
        opacity: 0;
        transition: opacity 300ms ease-out;
        background: rgba(var(--dark-shade-rgb), 0.5);

        border: none;
        color: var(--light-shade);

        font-size: 1.5rem;

        &.visible {
          display: block;
        }

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }
      }
    }

    &__media + &__text {
      margin-top: 1rem;
    }

    &__text {
      font-size: 1rem;
      font-weight: 300;

      hyphens: auto;
    }
  }

  &__content + &__creator {
    margin-top: 1rem;
  }

  &__creator {
    display: flex;
    align-items: center;
    width: fit-content;

    color: var(--dark-shade);
    text-decoration: none;

    &:hover {
      color: var(--brand-color);
    }

    &__avatar {
      display: block;
      width: 2rem;
      height: 2rem;
      overflow: hidden;

      border-radius: 50%;
      margin-inline-end: 0.5rem;
    }

    &__name {
      font-size: 0.875rem;
    }
  }

  &__likes {
    display: flex;
    margin-top: 1rem;
    align-items: center;

    &__count {
      font-size: 0.85rem;
      margin-inline-end: 1rem;
    }

    &__button {
      border-radius: 4px;
      padding: 0 0.25rem;
      border: none;

      &.like {
        background: var(--brand-color);
        color: var(--text-color-light);
      }

      &.dislike {
        background: var(--background-color);
        color: var(--text-color-dark);
        box-shadow: inset 0 0 0 1px var(--dark-shade);
      }
    }
  }
}

.video {
  width: 100%;
}
