<template id="register-page">
  <template id="step-1">
    <form id="register-form">
      <fieldset class="register-page__fieldset">
        <legend class="register-page__fieldset__legend">Register</legend>

        <div class="side-by-side register-page__field-wrapper">
          <div class="input__wrapper side-by-side__field-wrapper">
            <label class="input__label" for="email">First name</label>
            <input
              class="input__field"
              required="true"
              id="firstName"
              placeholder="Firstname"
              type="text"
              name="firstName"
            />
          </div>
          <div class="input__wrapper side-by-side__field-wrapper">
            <label class="input__label" for="email">Last name</label>
            <input
              class="input__field"
              required="true"
              id="lastName"
              placeholder="Lastname"
              type="text"
              name="lastName"
            />
          </div>
        </div>

        <div class="input__wrapper register-page__field-wrapper">
          <label class="input__label" for="email">Email</label>
          <input
            class="input__field"
            required="true"
            id="email"
            placeholder="mail@example.com"
            type="email"
            name="email"
          />
          <span
            class="register-page__field-wrapper__error"
            id="email-error"
          ></span>
        </div>

        <div class="input__wrapper register-page__field-wrapper">
          <label for="password" class="input__label">Password</label>
          <input
            class="input__field"
            required="true"
            id="password"
            type="password"
            name="password"
          />
        </div>

        <i-button type="submit" variant="primary" class="register-page__button">
          <span slot="text">Next</span>
        </i-button>
      </fieldset>
    </form>
  </template>

  <template id="step-2">
    <form id="images-form" class="register-page__form">
      <div class="register-page__form__overlay" id="overlay">
        <div class="register-page__form__overlay__content">
          <progress
            class="register-page__form__overlay__content__loader"
            id="loader"
            value="0"
            max="100"
          ></progress>
        </div>
      </div>
      <fieldset class="register-page__fieldset">
        <legend class="register-page__fieldset__legend">Images</legend>

        <div class="side-by-side__field-wrapper">
          <div class="input__wrapper register-page__field-wrapper">
            <label for="avatar" class="input__label">Avatar</label>
            <input
              type="file"
              name="avatar"
              id="avatar"
              accept=".jpg,.jpeg,.png,.gif"
            />
          </div>
          <div class="input__wrapper register-page__field-wrapper">
            <label for="backround" class="input__label">Background</label>
            <input
              type="file"
              name="background"
              id="background"
              accept=".jpg,.jpeg,.png,.gif"
            />
          </div>
        </div>

        <span id="error" class="error"></span>

        <div class="register-page__preview">
          <h2 class="register-page__preview__title">Preview</h2>
          <user-hero-banner id="preview-banner">
            <span slot="full-name" id="preview-name">Firstname Lastname</span>
            <span slot="email" id="preview-email">mail@example.com</span>
          </user-hero-banner>
        </div>

        <div class="register-page__buttons">
          <i-button variant="secondary" id="back">
            <span slot="text">Back</span>
          </i-button>
          <i-button variant="primary" id="send">
            <span slot="text">Submit</span>
          </i-button>
        </div>
      </fieldset>
    </form>
  </template>

  <div class="register-page" id="root"></div>
</template>
