.register-page {
  &__preview {
    margin-top: 1rem;

    &__title {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

  &__fieldset {
    padding: 1rem;
    border: 2px solid var(--dark-shade);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    &__legend {
      font-size: 1.2rem;
      font-weight: 500;
      width: fit-content;
    }
  }

  &__field-wrapper {
    margin-bottom: 1rem;

    &__error {
      color: red;
    }
  }

  &__button {
    width: fit-content;
    align-self: center;
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
}

.side-by-side {
  display: flex;

  &__field-wrapper {
    flex: 1;

    & ~ & {
      margin-inline-start: 1rem;
    }
  }
}
