.search-page {
  &__fieldset {
    border: 2px solid var(--dark-shade);
    padding: 1rem;
    border-radius: 8px;

    display: flex;

    &__legend {
      font-size: 1.2rem;
      font-weight: 500;
      width: fit-content;
    }

    &__input {
      flex: 1;
      margin-inline-end: 1rem;
    }

    &__button {
      padding: 1.25rem 1.5rem;
    }
  }

  &__user-item {
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    & + & {
      margin-top: 1rem;
    }
  }
}
