<template id="search-page">
  <div class="search-page">
    <div class="search-page__config">
      <form id="search-form">
        <fieldset class="search-page__fieldset">
          <legend class="search-page__fieldset__legend">Search people</legend>
          
            <input class="input__field search-page__fieldset__input" type="text" name="query"></input>
            
            <i-button variant="primary" type="submit" size="large">
                <span slot="text">Search</span>
            </i-button>
        </fieldset>
      </form>
    </div>

    <div class="search-page__results" id="results-root"></div>
  </div>
</template>
