#button {
  position: relative;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  line-height: 1;
}

.content {
  z-index: 1;
  font-size: 1rem;
}

.icon + .text {
  margin-inline-start: 0.5rem;
}

#button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}

/* Primary styles */
.primary .content {
  position: relative;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;

  color: var(--text-color-light);
  font-size: 1rem;
  font-weight: 600;

  background: var(--brand-color);
  border: none;

  outline: none;
}

.primary .background {
  box-shadow: inset 0px 0px 0px 2px var(--brand-color);
}

/* Secondary styles */
.secondary .content {
  z-index: 1;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;

  color: var(--text-color-dark);
  font-size: 1rem;
  font-weight: 600;

  box-shadow: inset 0px 0px 0px 2px var(--text-color-dark);

  background-color: var(--background-color);
}

.secondary .background {
  background: var(--text-color-dark);
}

.primary:hover,
.secondary:hover {
  transform: translate3d(4px, -4px, 0);
}
.primary:hover .background,
.secondary:hover .background {
  transform: translate3d(-4px, 4px, 0);
}

.primary:active,
.primary:active .background,
.secondary:active,
.secondary:active .background {
  transform: translate3d(0, 0, 0);
}
