.root {
  position: relative;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
  z-index: 1000;
  box-shadow: 2px 2px 4px 1px rgba(var(--dark-shade-rgb), 0.12);
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--dark-accent);
  width: max-content;
  max-width: 300px;

  color: var(--light-shade);

  display: none;
}

.show {
  display: block;
}

.arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid var(--dark-accent);
}
