.root {
  height: 4.5rem;
  width: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: var(--x-large-breakpoint);

  padding: 1rem var(--side-padding);
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.buttons.hidden {
  display: none;
}

.button + .button {
  margin-inline-start: 1rem;
}

.logo {
  color: var(--brand-color);
  height: 100%;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem 1rem;
  }
}

#user-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-inline-end: 0.5rem;
}

#user-link {
  display: flex;
  align-items: center;

  color: var(--text-color-dark);
  text-decoration: none;

  &:hover {
    color: var(--brand-color);
  }
}

#logged-in-state:not(.hidden) {
  display: flex;
  align-items: center;
}

#username {
  font-size: 1.2rem;
  font-weight: 500;
  margin-inline-end: 1rem;
}
