.profile-page {
  &__posts {
    margin-top: 2rem;

    &__item {
      & + & {
        margin-top: 1rem;
      }
    }

    &__title {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    &__empty {
      text-align: center;
      width: 100%;
      color: var(--dark-accent);
    }
  }
}
