.feed-page {
  display: flex;
  flex-direction: column;

  &__add-post {
    margin-bottom: 2rem;
  }

  &__empty {
    text-align: center;
    color: var(--dark-accent);
    width: 100%;

    & > a {
      color: var(--brand-color);
    }
  }

  &__item {
    & + & {
      margin-top: 2rem;
    }
  }
}
