.side-navigation {
}

.navigation-item {
  margin-bottom: 0.5rem;
  position: relative;
  width: fit-content;
  overflow: hidden;
  display: list-item;

  &:hover &__indicator,
  &.active &__indicator {
    transform: translate3d(0, 0, 0);
  }

  &__link {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--brand-color);
  }

  &__indicator {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--brand-color);
    transform: translate3d(-100%, 0, 0);
    transition: transform 150ms ease-out;
  }
}
